*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-font;
    font-size: 62.5%;
}

.container{

    background-color: $light-grayish-cyan-1;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;
}